/* app header */
.App-header-parent {
    /* border: 2px solid red; */
    background: #ffffff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 60px;
    width: 100%;
    z-index: 7;
    display: block;
    position: fixed;
    top: 0;
}

.App-link {
    cursor: pointer;
}

.App-header-menu {
    font-size: 18px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.App-header-link {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 20px;
    width: 130px;
    display: flex;
}